.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #3f1fbf;
    color: white;
}

.logo {
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
}

.logout-btn {
    background: white;
    color: #3f1fbf;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.logout-btn:hover {
    background: #ece7ff;
}
